body{
    -webkit-hyphens: auto; /* Activa separaciñon de palabras en navegadores */
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-font-smoothing: antialiased; /* Mejora visualización de fuentes */
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex; /* Utiliza flexbox para layout */
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90%; /* Ocupa el 90% del ancho disponible */
    max-width: 56.25rem;
    margin: auto; /* Centra el contenedor horizontalmente */
    padding: 1rem;
    display: grid; /* Utiliza css grid */
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr)); /* Columnas responsivas */
    gap: 1rem;
}

.grid .img {
    box-shadow: .5rem .5rem 1rem #cecece, -.5px -.5px 1rem #f2f2f2;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: 100%; /* Ocupa todo el alto del contenedor padre */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta contenidos que sobresalgan */
    cursor: pointer;
    transition: all .5s ease;
}

.grid .img img{
    max-width: 100%;
    height: auto; /* Mantiene la proporción original de la imagen */
    object-fit: cover;
}

.grid .img:hover{
    transform: scale(.95); /* Reduce ligeramente el temaño al pasar el cursor */
}

.grid .img:active{
    transform: scale(1.1); /* Aumenta el tamñao al hacer clic */
}

.lightbox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4); /* Fondo negro semitransparente */
    backdrop-filter: blur(2rem); /* Efecto desenfoque al fondo */
    position: fixed; /* Fija posición respecto a la ventana */
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column; /* Dispone los elementos en columnas */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0; /* Inicialmente invisible */
    pointer-events: none;
    transition: all .5s ease;
}

.lightbox.isActive{
    opacity: 1; /* Hace visible el lightbox cuando tiene la clase isActive */
    pointer-events: auto;
}

.lightbox .close{
    width: 3rem; /* Ancho del botón de cierre */
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}

.lightbox .close:hover{
    transform: scale(.95); /* Reduce tamaño al pasar el cursor */
}

.lightbox .close:active{
    transform: scale(1.1); /* Aumenta el tamaño al hacer clic */
}

.lightbox .grande{
    width: 90%;
    max-width: 900px; /* Limita el ancho */
    height: 70vh;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .4); /* Sombra para destacar la imagen */
}