td, th, TR, TABLE{
    border: 3px solid black;
}

.div1{
    background-color: aqua;
}

.div2{
    background-color: blueviolet;
}

.div3{
    background-color: burlywood;
    overflow: auto;
}

.red{
    color: red;
}