* {
    margin: 0;
    padding: 0;
    font-family: "Bona Nova SC", serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Bona Nova SC", serif;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #e72929;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0px;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.blog-img {
    width: 100%;
    height: 500px; /* Imagen m치s alargada tipo rect치ngulo vertical */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    object-position: center; /* Centra la imagen */
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-text span {
    color: #e72929;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #e72929;
    transition: all ease 0.3s;
}

.blog-text p {
    flex-grow: 1;
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
    align-self: flex-start;
}

.blog-text a:hover {
    color: #e72929;
    transition: all ease 0.3s;
}

/* Media Queries */

@media (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }

    .blog-img {
        height: 470px; /* Ajustamos la altura en pantallas m치s peque침as */
    }
}

@media (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }

    .blog-img {
        height: 450px;
    }
}

@media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-box {
        width: 90%;
    }

    .blog-img {
        height: 430px;
    }
}

@media (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    .blog-img {
        height: 400px;
    }
}
