.animate1 {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        width: 100px;
        background-color: aqua;
    }

    to {
        width: 200px;
        background-color: brown;
    }
}